{% extends "base.html" %}
{% load static %}



{% block body %}

  <main class="main">

  
           <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="{% static  'assets/img/carousel/hero-1.jpeg' %}" alt="">
          <div class="carousel-container">
            <h2>Interior Design</h2>
            <p>Make the most or compact with space saving furniture that are igenous and innovative</p>
            <a href="#featured-services" class="btn-get-started">Get Started</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static  'assets/img/carousel/hero-carousel-2.jpg' %}" alt="">
          <div class="carousel-container">
            <h2>At vero eos et accusamus</h2>
            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.</p>
            <a href="#featured-services" class="btn-get-started">Get Started</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static  'assets/img/carousel/hero-carousel-3.jpg' %}" alt="">
          <div class="carousel-container">
            <h2>Temporibus autem quibusdam</h2>
            <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>
            <a href="#featured-services" class="btn-get-started">Get Started</a>
          </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->
      



 <!-- About Section -->
 <section id="about" class="about section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
        <p class="who-we-are">Who We Are</p>
        <h3>Innovative Ideas Stylish Designs</h3>

        <p class="">
          At InteriorInn, we specialize in residential interior design—creating beautiful, functional, and personalized homes across Kenya. Whether you're looking to refresh a single room or transform your entire space, our team blends creativity, practicality, and local inspiration to bring your vision to life.
        </p>

        <p class="">
          We believe a home should reflect who you are, support how you live, and inspire how you feel every day. From concept to completion, we’re with you every step of the way—offering expert design, thoughtful layout planning, custom styling, and realistic 3D visualizations.
        </p>

        <p class="">
          The world needs innovators and problem solvers who turn challenges into greater opportunities.  WE have an insatiable curiosity about transformative trends challenging the status. 
        </p>

       

  
      </div>

      <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-4">
          <div class="col-lg-6">
            <img src="{% static  'assets/img/about-1.jpeg' %}" class="img-fluid image-1" alt="">
          </div>
          <div class="col-lg-6">
            <div class="row gy-4">
              <div class="col-lg-12">
                <img src="{% static  'assets/img/about-2.jpeg' %}" class="img-fluid image-2" alt="">
              </div>
              <div class="col-lg-12">
                <img src="{% static  'assets/img/about-3.jpeg' %}" class="img-fluid image-2" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section><!-- /About Section -->



   


<!-- Services Section -->
<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Interior Design Services</h2>
    <p>
      Transforming spaces into beautiful, functional and personalized environments
      <br>
    </p>

  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-5">



      {% for service in services %}

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="service-item">
          <div class="img">
            <img src="{{service.image.url}}" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            
            <a  class="stretched-link">
              <h3>{{service.heading}}</h3>
            </a>
            <p>{{service.subHeading}}</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      {% endfor %}

     

    </div>

  </div>

</section><!-- /Services Section -->





















 <!-- Real Estate Section -->
 <section id="real-estate" class="real-estate section">

   <!-- Section Title -->
   <div class="container section-title" data-aos="fade-up">
    <h2>Portfolio</h2>
    <p>Real spaces. Real results. Designed with heart</p>
  </div><!-- End Section Title -->


  <div class="container">

    <div class="row gy-4">


      {% for portfolio in portfolios %}

      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="card">
          <img src="{{portfolio.image.url}}" alt="" class="img-fluid">
          <div class="card-body">
            <span class="sale-rent">{{portfolio.name}}</span>
            <h3><a class="stretched-link">{{portfolio.description}}</a></h3>
           
          </div>
        </div>
      </div><!-- End Property Item -->

      {% endfor %}


    </div>

  </div>

</section><!-- /Real Estate Section -->






 <!-- Testimonials Section -->
 <section id="testimonials" class="testimonials section dark-background">

  <img src="{% static  'assets/img/floor-plan.jpg' %}" class="testimonials-bg" alt="">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>What Our Clients Say</h2>
    <p>
      Real stories from happy clients who trusted us to transform their spaces
    </p>
  </div><!-- End Section Title -->


  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="swiper init-swiper">
      <script type="application/json" class="swiper-config">
        {
          "loop": true,
          "speed": 600,
          "autoplay": {
            "delay": 5000
          },
          "slidesPerView": "auto",
          "pagination": {
            "el": ".swiper-pagination",
            "type": "bullets",
            "clickable": true
          }
        }
      </script>
      <div class="swiper-wrapper">

        {% for testimonial in testimonials %}

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="{{testimonial.image.url}}" class="testimonial-img" alt="">
            <h3>{{testimonial.name}}</h3>
            
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span class="testimonial-info">{{testimonial.comment}}</span>
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        {% endfor %}

    
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

</section><!-- /Testimonials Section -->




<!-- Team Section -->
<section id="team" class="team section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Team</h2>
    <p>Passionate designers and creatives dedicated to transforming your space into a home you love.<br></p>
  </div><!-- End Section Title -->


  <div class="container">

    <div class="row gy-4">

      {% for team in teams  %}
      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <img src="{{team.image.url}}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>{{team.name}}</h4>
              <span>{{team.title}}</span>
            </div>
            <div class="social">
              <a href="{{team.linkedin_url}}"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->


      {% endfor %}

     
    </div>

  </div>

</section><!-- /Team Section -->














     <!-- Contact Section -->
     <section id="contact" class="contact section">
      <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
    <p>Featured Srvices<br></p>
  </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

















  </main>

  
  {% endblock body %}